/* --------------------------------------------------------------------------- data */

/* --------------------------------------------------------------------------- speed */

/* sideral years */

$speedRatio:                12s;

$s-mercury:                 0.2408467;
$s-venus:                   0.61519726;
$s-earth:                   1.0000174;
$s-moon:                    0.074803559;
$s-mars:                    1.8808476;
$s-jupiter:                 11.862615;
$s-saturn:                  29.447498;
$s-uranus:                  84.016846;
$s-neptune:                 164.79132;

@function sideralyear($sidyear) {
  @return ($sidyear)*$speedRatio;
}

#mercury .pos, 
#mercury .planet, 
#mercury.orbit            { animation-duration: sideralyear($s-mercury); }

#venus .pos, 
#venus .planet, 
#venus.orbit              { animation-duration: sideralyear($s-venus); }

#earth .pos, 
#earth .planet, 
#earth.orbit              { animation-duration: sideralyear($s-earth); }

#earth .orbit .pos,
#earth .orbit /* Moon */  { animation-duration: sideralyear($s-moon); }

#mars .pos, 
#mars .planet, 
#mars.orbit               { animation-duration: sideralyear($s-mars); }

#jupiter .pos, 
#jupiter .planet, 
#jupiter.orbit            { animation-duration: sideralyear($s-jupiter); }

#saturn .pos, 
#saturn .planet, 
#saturn.orbit,
#saturn .ring             { animation-duration: sideralyear($s-saturn); }

#uranus .pos, 
#uranus .planet, 
#uranus.orbit             { animation-duration: sideralyear($s-uranus); }

#neptune .pos, 
#neptune .planet, 
#neptune.orbit            { animation-duration: sideralyear($s-neptune); }

/* --------------------------------------------------------------------------- planets sizes */

/* --------------------------------------------------------------------------- stretched sizes */

.scale-stretched #sun                      { font-size: 24em; }
.scale-stretched #mercury .planet          { font-size: 1.5em; }
.scale-stretched #venus .planet            { font-size: 3.72em; }
.scale-stretched #earth .planet            { font-size: 3.92em; }
.scale-stretched #earth .moon              { font-size: 1.2em; }
.scale-stretched #mars .planet             { font-size: 2.9em; }
.scale-stretched #jupiter .planet          { font-size: 12em; }
.scale-stretched #saturn .planet           { font-size: 10.8em; }
.scale-stretched #uranus .planet           { font-size: 4.68em; }
.scale-stretched #neptune .planet          { font-size: 4.9em; }

/* --------------------------------------------------------------------------- scaled sizes */

/*
(planets radius * 2) * ratio
*/

@function ratio($data, $ratio) {
  @return ($data * 2) * $ratio;
}

/*$distanceScaleRatio:   0.000075em;*/
$distanceScaleRatio:    0.00003em;
$sizeScaleRatio:         0.0003em;

$r-sun:                    695508;
$r-mercury:                  2439;
$r-venus:                    6051;
$r-earth:                    6371;
$r-moon:                     1371;
$r-mars:                     3389;
$r-jupiter:                 69911;
$r-saturn:                  58232;
$r-uranus:                  25362;
$r-neptune:                 24622;

/* --------------------------------------------------------------------------- stretched orbits */

@mixin stretchedOrbit($distance) {
  width: $distance;
  height: $distance;
  margin-top: -#{$distance/2};
  margin-left: -#{$distance/2};
}

.scale-stretched #mercury.orbit            { @include stretchedOrbit(32em); }
.scale-stretched #venus.orbit              { @include stretchedOrbit(40em); }
.scale-stretched #earth.orbit              { @include stretchedOrbit(56em); }
.scale-stretched #earth .orbit /* Moon */  { @include stretchedOrbit(6em); }
.scale-stretched #mars.orbit               { @include stretchedOrbit(72em); }
.scale-stretched #jupiter.orbit            { @include stretchedOrbit(100em); }
.scale-stretched #saturn.orbit             { @include stretchedOrbit(150em); }
.scale-stretched #uranus.orbit             { @include stretchedOrbit(186em); }
.scale-stretched #neptune.orbit            { @include stretchedOrbit(210em); }