/* --------------------------------------------------------------------------- images */

#universe                 { background-image: url('/img/bg-glow.png'); }
#sun                      { background-image: url('/img/sun.png'); }
#mercury .planet          { background-image: url('/img/p-mercury.png'); }
#venus .planet            { background-image: url('/img/p-venus.png'); }
#earth .planet            { background-image: url('/img/p-earth.png'); }
#earth .moon              { background-color: white; }
#mars .planet             { background-image: url('/img/p-mars.png'); }
#jupiter .planet          { background-image: url('/img/p-jupiter.png'); }
#saturn .planet           { background-image: url('/img/p-saturn.png'); }
#uranus .planet           { background-image: url('/img/p-uranus.png'); }
#neptune .planet          { background-image: url('/img/p-neptune.png'); }