/* --------------------------------------------------------------------------- responsive styles */

@media screen and (max-width: 299px) { #universe { font-size: 20%; } }

@media screen and (min-width: 300px) { #universe { font-size: 24%; } }

@media screen and (min-width: 500px) { #universe { font-size: 36%; } }

@media screen and (min-width: 600px) { #universe { font-size: 44%; } }

@media screen and (min-width: 760px) { #universe { font-size: 58%; } }

@media screen and (min-width: 1000px) {

  #universe { font-size: 73%; }

  #controls { background: transparent; }

  h1 { font-size: 22px; margin-top: 8px; }

  #controls {
    width: auto;
    right: 3rem;
    transform: scale(1);
  }
}

@media screen and (min-width: 1300px) { #universe { font-size: 100%; } }