/* --------------------------------------------------------------------------- transitions */

.pos { transition-property: top, left; }

#solar-system, .orbit, 
.planet, 
.satelite, 
.ring { transition-property: width, height, top, left, margin-left, margin-top, webkit-transform, transform; }

#sun, .icon { transition-property: width, height, webkit-transform; }

#solar-system, 
#sun, 
.orbit, 
.pos, 
.planet, 
.satelite, 
.ring,
.infos,
.planet dl,
.icon { 
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
}

#solar-system,
#sun,
.planet, 
.satelite,
.ring { transition-delay: 0s; }

.pos { transition-delay: 1s; }

h1, #controls { 
  transition-property: opacity, margin;
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
}

h1 { transition-delay: .35s; }
#controls { transition-delay: 1s; }