/* --------------------------------------------------------------------------- navigation styles */

.infos {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin-top: -90%;
  margin-left: 90%;
  padding-left: 100%;
  transform-origin: 100% 100%;
  transform-style: preserve-3d;
  transform: rotateX(90deg);
}

.infos:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 30px;
  left: 15px;
  bottom: 0;
  border-top: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: skew( -45deg , 0deg );
  box-shadow: inset 1px 1px black;
}

.infos dt {
  position: absolute;
  left: 50px;
  margin-bottom: 2rem;
  bottom: 30px;
  color: #FFF;
  font-size: 14px;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px black;
}

.infos dd .value {
  position: absolute;
  left: 50px;
  bottom: 30px;
  width: 300px;
  color: #FFF;
  font-size: 22px;
  text-shadow: 1px 1px 2px black;
  transition: transform 0.3s ease;
}

.infos dd .type {
  position: absolute;
  left: 50px;
  bottom: 14px;
  width: 300px;
  color: #FFF;
  font-size: 11px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px black;
  transition: transform 0.3s ease;
}

.infos dd {
  transition: opacity 0.5s ease;
}

.isActive { 
  display: block; 
  opacity: 1;
  transform: rotateX(0deg);
}

.isOut {
  opacity: 0;
  
  .value,
  .type {
    transform: translateY(1rem);
  }
}

.isIn {
  opacity: 1;

  .value,
  .type {
    transform: translateY(0);
  }
}


.mercury #mercury.orbit,
.venus #venus.orbit,
.earth #earth.orbit,
.mars #mars.orbit,
.jupiter #jupiter.orbit,
.saturn #saturn.orbit,
.uranus #uranus.orbit,
.neptune #neptune.orbit {
  border: 1px solid rgba(255,255,255,.8);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}