.mainNav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 1rem;
    z-index: 20;
    
    @media screen and (min-width: 768px) {
        gap: 2rem;
    }

    a {
        font-size: 1rem;
        color: rgba(white, 0.5);
        text-transform: capitalize;
        transition: color 0.3s ease;
        
        @media screen and (min-width: 768px) {
            font-size: 1.2rem;
        }
    }

    a:hover,
    a.isActive {
        color: white;
    }
}